<div class="head">

  <%= image_tag "naropa.jpg", class: 'responsive-img' %>

  <%= link_to community_path(@community), class: 'title waves-light waves-effect' do %>
    <%= @community.name %>
  <% end %>

</div>

<div class="content">

  <%= nav_link "Decisions", community_decisions_path(@community), "democracy/community/decisions" %>
  <%= nav_link "Conversations", feed_path %>


</div>
