<div class="head">

  <%= image_tag "naropa.jpg", class: 'responsive-img' %>

  <%= link_to root_path, class: 'title waves-light waves-effect' do %>
    <%= @community.name %>
  <% end %>

</div>

<div class="content">

  <%= nav_link "About", about_path %>
  <%= nav_link "Timeline", timeline_path %>
  <%= nav_link "Contribute Your Ideas", ideas_path %>
  <%= nav_link "Conversations", feed_path %>

</div>
