<div class="row">
  <div class="col s12">

    <h1>Timeline</h1>

    <% # SEPTEMBER %>
    <div class="row">

      <div class="col s2 m1 l1 center-align">
        <%= material_icon.check_circle.md_36.css_class('margin_top_30') %>
      </div>

      <div class="col s10 m11 l11">

        <ul class="collection with-header">
          <li class="primary_color white-text collection-header">
            <h4 class="no_margin_top">September</h4>
            <h6><strong>Establish a Planning Task Force (PTF)</strong></h6>
          </li>
         <li class="collection-item">Approximately 35-40 members.</li>
         <li class="collection-item">
           7-9 individuals from each Division.
           These Planning and Resource Committees (division "PARCs") will be
           comprised of faculty and staff from within each division and 2-3
           faculty and staff from outside the division.
           Cauldron will serve as the Academic Affairs Planning and Resource
           Committee (AAPARC). The other divisions (Student Affairs, Operations,
           President's Office) will need to name a PARC for their area if one
           does not already exist.
         </li>
         <li class="collection-item">
           The PTF needs to have a diverse membership, inclusive of all
           Divisions, faculty and staff, and include all members of Cabinet.
         </li>
         <li class="collection-item">
           The Planning Task Force is appointed by the President and led by the
           Provost.
         </li>
       </ul>

      </div>

    </div>

    <% # OCTOBER %>
    <div class="row">

      <div class="col s2 m1 l1 center-align">
        <%= material_icon.flag.md_36.css_class('margin_top_30') %>
      </div>

      <div class="col s10 m11 l11">

        <ul class="collection with-header">
          <li class="primary_color white-text collection-header">
            <h4 class="no_margin_top">
              October
            </h4>
            <h6><strong>
              PTF reviews process and develops a communication plan to
              keep the community informed and engaged
            </strong></h6>
          </li>
          <li class="collection-item">Write text here...</li>
          <li class="collection-item">Write text here...</li>
          <li class="collection-item">Write text here...</li>
       </ul>

      </div>

    </div>

    <% # NOVEMBER - DECEMBER %>
    <div class="row">

      <div class="col s2 m1 l1 center-align">
        <%= material_icon.panorama_fish_eye.md_36.css_class('margin_top_30') %>
      </div>

      <div class="col s10 m11 l11">

        <ul class="collection with-header">
          <li class="primary_color white-text collection-header">
            <h4 class="no_margin_top">November - December</h4>
            <h6><strong>Idea Gathering Stage</strong></h6>
          </li>
          <li class="collection-item">Write text here...</li>
          <li class="collection-item">Write text here...</li>
          <li class="collection-item">Write text here...</li>
       </ul>

      </div>

    </div>

    <% # JANUARY - FEBRUARY %>
    <div class="row">

      <div class="col s2 m1 l1 center-align">
        <%= material_icon.panorama_fish_eye.md_36.css_class('margin_top_30') %>
      </div>

      <div class="col s10 m11 l11">

        <ul class="collection with-header">
          <li class="primary_color white-text collection-header">
            <h4 class="no_margin_top">January - February</h4>
            <h6><strong>Distillation Stage</strong></h6>
          </li>
          <li class="collection-item">Write text here...</li>
          <li class="collection-item">Write text here...</li>
          <li class="collection-item">Write text here...</li>
       </ul>

      </div>

    </div>

    <% # MARCH %>
    <div class="row">

      <div class="col s2 m1 l1 center-align">
        <%= material_icon.panorama_fish_eye.md_36.css_class('margin_top_30') %>
      </div>

      <div class="col s10 m11 l11">

        <ul class="collection with-header">
          <li class="primary_color white-text collection-header">
            <h4 class="no_margin_top">March</h4>
            <h6><strong>Vision and Goals Conference</strong></h6>
          </li>
          <li class="collection-item">Write text here...</li>
          <li class="collection-item">Write text here...</li>
          <li class="collection-item">Write text here...</li>
       </ul>

      </div>

    </div>

    <% # APRIL %>
    <div class="row">

      <div class="col s2 m1 l1 center-align">
        <%= material_icon.panorama_fish_eye.md_36.css_class('margin_top_30') %>
      </div>

      <div class="col s10 m11 l11">

        <ul class="collection with-header">
          <li class="primary_color white-text collection-header">
            <h4 class="no_margin_top">April</h4>
            <h6><strong>Feedback Loop</strong></h6>
          </li>
          <li class="collection-item">Write text here...</li>
          <li class="collection-item">Write text here...</li>
          <li class="collection-item">Write text here...</li>
       </ul>

      </div>

    </div>

    <% # MAY - SEPTEMBER %>
    <div class="row">

      <div class="col s2 m1 l1 center-align">
        <%= material_icon.panorama_fish_eye.md_36.css_class('margin_top_30') %>
      </div>

      <div class="col s10 m11 l11">

        <ul class="collection with-header">
          <li class="primary_color white-text collection-header">
            <h4 class="no_margin_top">May - September</h4>
            <h6><strong>
              Implementation Phase
            </strong></h6>
          </li>
          <li class="collection-item">Write text here...</li>
          <li class="collection-item">Write text here...</li>
          <li class="collection-item">Write text here...</li>
       </ul>

      </div>

    </div>

  </div>
</div>
